:import("./another.scss") {
  // [rename後]: [componentのclass名]
  anotherDescription: description;
  anotherLabel: label;
}

.label {
  composes: anotherLabel;
}

.classname1 {
  color: red;
}

.app {
  composes: classname1;
}

.description {
  font-size: 1.4em;
}

.description2 {
  composes: anotherDescription;
}


// Error!
// .app2 .app {
//   composes: classname1;
// }